<div class="m-3">
  <div style="width: 300px">
    <h1>Stupid Coach!</h1>
    <div class="border-start px-2 border-4 border-gray mb-2">
      <p><%= @question %></p>
      <p> - YOU</p>
    </div>
    <div class="border-start border-4 border-gray mb-2">
      <div class="bg-gradient rounded-end-3 px-2" style="background: rgba(	155, 253, 150,0.7);">
        <p><%= @answer %></p>
        <p>- Your Coach</p>
      </div>
    </div>
      <a class="btn btn-warning" href="/ask">Ask a new question</a>
  </div>
</div>
