<h1>Stupid Coach!</h1>
<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" placeholder="What is the question">
  <input class="btn btn-primary" type="submit">
</form>
